body {
    background: url("/src/img/bg/1584643617_9-p-foni-s-raznoobraznimi-zhivotnimi-21.jpg");
    max-width: 2200px;
}


.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: url("/src/img/bg/scale_1200.jpg");
    background-size: cover;
    border-radius: 10px;
}
.form_auth_block_content{
    margin-top: 170px;
    padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}
.form_auth_button_1{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #FFB830;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

::-webkit-input-placeholder {
    color:#3f3f44; 
    padding-left: 10px;
} 

::-moz-placeholder  {
    color:#3f3f44; padding-left: 10px;
} 
:-moz-placeholder         
  {
    color:#3f3f44; padding-left: 10px;
} 
:-ms-input-placeholder   
   {color:#3f3f44; padding-left: 10px;
} 